@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer utilities {
  .website-logo {
    @apply relative w-5 h-5 lg:w-8 lg:h-8;
  }
}